body{
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
   background-color:#e9ebff;
   background-size:10%;
   animation: bgScroll 20s linear infinite;
  }
  
  @keyframes bgScroll {
    0% {
      background-position : 0px 0px
    }
    100% {
      background-position : 0px -808px
    }
  }
    h2
    {
        font-size: 350%;
        font-style: italic;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-variant: small-caps;
    }
ol
    {
        font-size: 150%;
        font-style: italic;
        font-family: cursive;
        list-style: decimal;
    }
ul ul
    {
        font-size: 100%;
        font-style: italic;
        font-family:cursive;
    }
ul
    {
        font-size: 150%;
        font-style: italic;
        font-family:cursive;                
    }
h1
    {
        font-size: 350%;
        font-style: italic;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
    }


.para 
    {
        border: 5px solid rgb(190, 228, 55);
        padding: 2em;
        margin: 20px;
        width: fit-content;
        height: fit-content;
        float:left;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }
.container
    {
        display: flex;
    }
.para:hover
    {
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    }